@import "./Vars.scss";

.TeacherCourseDetail__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 1fr;
  height: 100vh;
}

.TeacherCourseDetail__title {
  background-color: $background-color;
  display: block;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.TeacherCourseDetail__student-list {
  display: block;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: 20px 100px;
}

.TeacherCourseDetail__student-item {
  display: flex;
  color: white;
  background-color: rgba($color: $main-color, $alpha: 0.7);
  border-radius: 10px;
  height: 25px;
  margin: 5px 0;
  padding: 5px 10px;
  justify-content: space-between;
}

.TeacherCourseDetail__student-item img {
  align-items: center;
  display: none;
  width: 25px;
  height: 25px;
}

.TeacherCourseDetail__student-item:hover {
  cursor: pointer;
  background-color: rgba($color: $main-color, $alpha: 1);
}

.TeacherCourseDetail__student-item:hover > img{
  display: block;
}

.TeacherCourseDetail__module-list {
  display: block;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding: 20px 80px;
}

.TeacherCourseDetail__module-list p {
  font-style: italic;
}

.TeacherCourseDetail__module-item {
  display: flex;
  color: white;
  background-color: rgba($color: $color-line, $alpha: 0.7);
  border-radius: 10px;
  height: 25px;
  margin: 5px 0;
  padding: 5px 10px;
  justify-content: space-between;
}

.TeacherCourseDetail__module-item:hover {
  cursor: pointer;
  background-color: rgba($color: $color-line, $alpha: 1);
}