@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');

$theme-font: 'Lato', sans-serif;

// #40bad5

$button-bgcolor: #8EDDEF;

$main-color: #40bad5;
$background-color: #f9fcfb;

$color-line: #93b5b3;